:root {
  --color-bg: #f6f5f5;

  --color-border: #2a2a2a;

  --color: #2b2b2b;
  --color-rgba: rgb(50, 50, 50);
  --color-filter: brightness(0) saturate(100%) invert(13%) sepia(2%)
    saturate(0%) hue-rotate(139deg) brightness(97%) contrast(89%);

  --color-hi: #fca326;
  --color-hi-rgba: rgba(252, 163, 38, 1);
  --color-hi-filter: brightness(0) saturate(100%) invert(64%) sepia(84%)
    saturate(599%) hue-rotate(340deg) brightness(101%) contrast(98%);
}

[data-theme="dark"] {
  --color-bg: linear-gradient(170.43deg, #433837 2.95%, #2a2a2a 93.4%);

  --color-border: #f6f5f5;

  --color: #f6f5f5;
  --color-rgba: rgb(50, 50, 50);
  --color-filter: brightness(0) saturate(100%) invert(100%) sepia(84%)
    saturate(177%) hue-rotate(285deg) brightness(113%) contrast(92%);

  --color-hi: #fca326;
  --color-hi-rgba: rgba(252, 163, 38, 1);
  --color-hi-filter: brightness(0) saturate(100%) invert(64%) sepia(84%)
    saturate(599%) hue-rotate(340deg) brightness(101%) contrast(98%);
}

html {
  font-size: 20px;
  height: 100%;
}

body {
  background: var(--color-bg);
  color: var(--color);
  font-family: Arial, serif;
  font-weight: 300;
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-left: 5em;
  padding-right: 5em;
}

#main {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  margin-top: 12rem;
  margin-bottom: 12rem;
  column-gap: 30px;
}

#blog {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}

.blog-item {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 0px;
  min-height: 323px;
  border: 1px solid var(--color-border);
  position: relative;
}

.blog-title {
  display: flex;
  flex-wrap: wrap;
  font-family: "Gill Sans", "Trebuchet MS", sans-serif;
  font-weight: 300;
  font-size: 22px;
  line-height: 33px;
  width: 300px;

  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.blog-company {
  left: 30px;
  bottom: 30px;

  font-size: 20px;
  position: absolute;

  font-family: "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
    sans-serif;
}

.blog-link {
  right: 30px;
  bottom: 30px;

  font-size: 20px;
  position: absolute;
}

.blog-btn {
  position: absolute;
  top: -60px;
  left: 0;
}

#blog-container a img {
  height: 32px;
}

.hero-image {
  height: 404px;
  width: 404px;
}

h1 {
  font-size: 150px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: "Gill Sans", "Trebuchet MS", sans-serif;
  letter-spacing: -0.03em;
  margin-left: -17px;
  text-transform: uppercase;
}

h2 {
  font-size: 25px;
  margin-top: 0px;
  text-transform: uppercase;
  font-family: "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
    sans-serif;
}

a {
  color: var(--color);
  text-decoration: underline;
  cursor: pointer;
}

a img {
  filter: var(--color-filter);
}

a img.color-reverse {
  filter: var(--color-hi-filter);
}

ul {
  list-style-type: none;
}

#previous ul {
  padding: 0;
  margin: 0;
  font-size: 24px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
    sans-serif;
  font-weight: 400;
  line-height: 35px;
}

nav ul {
  display: flex;
  justify-content: space-between;
  padding: 0;
  position: absolute;
  right: 100px;
  width: 270px;
}

.nav-item:last-child {
  padding-left: 45px;
}

#credit {
  margin-top: 20px;
  margin-bottom: 75px;
  width: 100%;
  font-size: 18px;
}
