a:hover {
  color: var(--color-hi-rgba);
  transition-duration: .5s;
}

a img:hover {
  filter: var(--color-hi-filter);
  transition-property: filter;
  transition-duration: .5s;
}

a img.color-reverse:hover {
  filter: var(--color-filter);
  transition-property: filter;
  transition-duration: .5s;
}

@media (hover: none) {
  a:hover { color: var(--color); }
  a img:hover { filter: var(--color-filter); }
  a img.color-reverse:hover { filter: var(--color-hi-filter); }
}

/* @media (width <= 500px) { */
/*     #blog { */
/*         flex-direction: column; */
/*     } */
/* } */
